@using Entities.Concrete.Dtos;
@using Entities.Concrete.Models;
@model List<CarDto>

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <form action="Car/Create" method="get">
                    <p>
                        <button class="btn btn-primary">@DefaultConstantValue.ADD_MESSAGE</button>
                    </p>
                </form>
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>At gücü</th>
                            <th>Modeli</th>
                            <th>Kuza</th>
                            <th>Vəziyyəti</th>
                            <th>Qiyməti</th>
                            <th>Şəkil</th>
                            <th>İli</th>
                            <th>Sürətlər qutusu</th>
                            <th>Marka</th>
                            
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.CarHp</td>
                                <td>@item.CarModel</td>
                                <td>@item.CarBodyName</td>
                                <td>@item.CarCondition</td>
                                <td>@item.CarPrice</td>
                                <td>@item.CarPhotoUrl</td>
                                <td>@item.CarYear</td>                             
                                <td>@item.GearName</td>
                                <td>@item.BrandName</td>
                                
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.CarId">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a> |
                                    <a item-value="@item.CarId" item-title="@item.CarModel" class="btnDelete">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(".btnDelete").click(function (e) {
            Swal.fire({
                title: 'Əminsən?',
                text: "Geri döndərə bilməyəcəksiz!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonText: "Ləğv et",
                cancelButtonColor: '#d33',
                confirmButtonText: 'Bəli '
            }).then((result) => {
                if (result.isConfirmed) {
                    let itemId = e.currentTarget.attributes[0].value;
                    let itemTitle = e.currentTarget.attributes[1].value;
                    $.ajax({
                        method: "POST",
                        url: "car/delete/",
                        data: {
                            id: itemId
                        }
                    })
                    Swal.fire({
                        title: 'Silindi!',
                        text: "'" + itemTitle + "' silindi",
                        icon: 'success',

                    }).then((result) => {
                        window.location = "car"
                    })

                }
            })
        })
    </script>
}



